@import "variables";

.row-padding-after {
  padding-bottom: 15px;
}

.row-padding-after-small {
  padding-bottom: 5px;
}

.number-keyboard-panel-item {
  padding-left: 20px;
  padding-right: 20px;
}

.bg-old-paper {
  background-image: url(@bg-image);
}

.block-inline {
  display: inline-block;
}

/* To REMOVE when real color found */
.btn-primary {
  color: @text-color;
  background-color: @primary-color-bg;
  border-color: @primary-color-border;
}

h1, h2 {
  color: @text-color;
}

.life-status {
  color: @text-color;
}

.error-page-message {
  color: @text-color;
  text-align: center;
  padding-bottom: 15px;
  font-size: 26px;
}
