.row-padding-after {
  padding-bottom: 15px;
}
.row-padding-after-small {
  padding-bottom: 5px;
}
.number-keyboard-panel-item {
  padding-left: 20px;
  padding-right: 20px;
}
.bg-old-paper {
  background-image: url('../img/free-paper-texture-6.jpg');
  background-size: 100%;
}
.block-inline {
  display: inline-block;
}
/* To REMOVE when real color found */
.btn-primary {
  color: #fff;
  background-color: #69212A;
  border-color: #69212A;
}
h1,
h2 {
  color: #fff;
}
.life-status {
  color: #fff;
}
.error-page-message {
  color: #fff;
  text-align: center;
  padding-bottom: 15px;
  font-size: 26px;
}
.progress-bar-full {
  background-color: #5cb85c;
}
.progress-bar-fine {
  background-color: #C8F04E;
}
.progress-bar-ok {
  background-color: #F0DC4E;
}
.progress-bar-wounded {
  background-color: #f0ad4e;
}
.progress-bar-hurt {
  background-color: #d9534f;
}
.dropdown-center {
  left: 50%;
  transform: translate(-50%);
}
.dropdown-menu .divider {
  background-color: #8A6D3B;
}
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  background-color: transparent;
}
.btn-form {
  max-width: 300px;
  margin: 0 auto;
}
body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-hero.form-horizontal .control-label {
  padding-top: 7px;
  margin-bottom: 0;
  text-align: right;
}
.combat-result {
  float: right;
  font-size: 14px;
  line-height: 40px;
}
.combat-ratio {
  color: #fff;
}
.dice-value {
  width: 50px;
  height: 47px;
  padding-top: 12px;
  text-align: center;
  border-radius: 10px;
  margin: auto;
  background-image: url('../img/10faceDice.jpg');
  background-size: 50px;
  font-size: 9px;
  font-weight: bold;
  color: red;
}
body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}
