@body-bg-color: #eee;
@dice-color: red;
@text-color: #fff;
@primary-color-bg: #69212A;
@primary-color-border: #69212A;

@dice-image: '../img/10faceDice.jpg';
@bg-image: '../img/free-paper-texture-6.jpg';