.idea/*
/web/dist
/web/app
/web/bower_components
/node_modules
/cache.properties
/app/config/parameters.yml
/app/config/parameters.save.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/config.php
/Sf-Quick-Install.md
.idea/vcs.xml
/app/Resources/views/dist/*
!/app/Resources/views/dist/.gitkeep
/app/Resources/public/dist/fonts/*
!/app/Resources/public/dist/fonts/.gitkeep
/app/Resources/public/dist/css/*
!/app/Resources/public/dist/css/.gitkeep
/app/Resources/public/dist/img/*
!/app/Resources/public/dist/img/.gitkeep
/app/Resources/public/dist/js/*
!/app/Resources/public/dist/js/.gitkeep
!/app/Resources/public/dist/.gitkeep