{% extends '::base.html.twig' %}

{% block title %}{{ 'chapter_title'|trans({ '%game_label%': 'game_label'|trans, '%chapter_number%': chapter}, 'seo') }}{% endblock %}

    {% block body_content %}
        <div class="container-fluid">
            <header>
                <h1 class="text-center text-uppercase">{{ story.name }}</h1>
                <h1 class="text-center text-uppercase">{{ 'chapter_title'|trans({'%chapter_number%': chapter}) }}</h1>
                <div class="row row-padding-after text-center">
                    {% set lifeCurrent = hero.life %}
                    {% set lifeMax = hero.enduranceMax %}
                    {% include ':Common:lifeStatus.html.twig' %}
                </div>
            {#{% include ':Common:loneWolfIcon.html.twig' %}#}
            </header>
            <div class="main">
                {% set currentEnemyId = -1 %}
                {% if hero.currentEnemy is not empty and hero.currentEnemy.enemy is not empty %}
                    {% set currentEnemyId = hero.currentEnemy.enemy.id %}
                {% endif %}
                {% set destinationOpen = true %}
                {% for enemy in chapter.enemies %}
                    {# Defeated #}
                    {% set currentFight = (currentEnemyId == enemy.id) ? true : false %}
                    {% set message_key = enemy.name %}
                    {% set href = (currentFight) ? path('combat') : path('combat_enemy', { id:enemy.id }) %}
                    {% set iconClasses = ['glyphicon','glyphicon-tint','text-danger'] %}
                    {% if currentFight %}
                        {% set btnClasses = ['btn','btn-lg','btn-warning'] %}
                    {% elseif enemy.id in etape.enemiesDefeated %}
                        {% set btnClasses = ['btn','btn-lg','btn-success'] %}
                    {% endif %}
                    {% if enemy.id in etape.enemiesDefeated %}
                        {% include ':Common:buttonWithoutPath.html.twig' %}
                    {% else %}
                        {% set destinationOpen = false %}
                        {% include ':Common:buttonWithPath.html.twig' %}
                    {% endif %}
                    {% set btnClasses = [] %} {# reset for other button #}
                {% endfor %}

                {# Combat Custom Enemy #}
                {% if hero.currentEnemy is not empty and hero.currentEnemy.enemy is empty %}
                    {% set message_key = hero.currentEnemy.name %}
                    {% set href = path('combat') %}
                    {% set iconClasses = ['glyphicon','glyphicon-tint','text-danger'] %}
                    {% set btnClasses = ['btn','btn-lg','btn-warning'] %}
                    {% include ':Common:buttonWithPath.html.twig' %}
                    {% set btnClasses = [] %} {# reset for other button #}
                {% endif %}

                {# Chapters selection button #}
                {#{% set destinationList = [50,25,258] %}#}
                {% for destination in chapter.directions %}
                    {% include ':Common:gotoDestination.html.twig' %}
                {% endfor %}

                {% if chapter.enemies is empty and chapter.directions is empty %}
                    {# Dead #}
                    {% set message_key = 'dead_label' %}
                    {% set href = path('hero_dead') %}
                    {% set iconClasses = ['glyphicon','glyphicon-random','text-danger'] %}
                    {% include ':Common:buttonWithPath.html.twig' %}

                    {# Select Chapter #}
                    {% set message_key = 'select_chapter_label' %}
                    {% set iconClasses = ['glyphicon','glyphicon-random','text-danger'] %}
                    {% include ':Common:chooseDestinationButton.html.twig' %}
                {% endif %}

                {# Add one Life #}
                {% set message_key = 'add_one_life' %}
                {% set href = path('farniente') %}
                {% set iconClasses = ['glyphicon','glyphicon-heart','text-danger'] %}
                {% include ':Common:buttonWithPath.html.twig' %}
            </div>

            <footer>
                {% include ':Common:others.html.twig' %}
            </footer>
        </div>
    {% endblock %}
