<div class="row row-padding-after text-center">
    <img src="{{ images_directory ~ 'lone-wolf.gif' }}" class="container img-responsive" />
    {#{% image 'bundles/lonewolfapp/img/lone-wolf.gif' %}#}
        {#<img src="{{ asset_url }}" alt="Joe Dever's lone wolf" class="container img-responsive" />#}
    {#{% endimage %}#}
</div>
