            <div class="row text-center row-padding-after-small">
                <button type="button" class="btn btn-primary btn-lg number-keyboard-panel-item" data-digit-key=7>7</button>
                <button type="button" class="btn btn-primary btn-lg number-keyboard-panel-item" data-digit-key=8>8</button>
                <button type="button" class="btn btn-primary btn-lg number-keyboard-panel-item" data-digit-key=9>9</button>
            </div>
            <div class="row text-center row-padding-after-small">
                <button type="button" class="btn btn-primary btn-lg number-keyboard-panel-item" data-digit-key=4>4</button>
                <button type="button" class="btn btn-primary btn-lg number-keyboard-panel-item" data-digit-key=5>5</button>
                <button type="button" class="btn btn-primary btn-lg number-keyboard-panel-item" data-digit-key=6>6</button>
            </div>
            <div class="row text-center row-padding-after-small">
                <button type="button" class="btn btn-primary btn-lg number-keyboard-panel-item" data-digit-key=1>1</button>
                <button type="button" class="btn btn-primary btn-lg number-keyboard-panel-item" data-digit-key=2>2</button>
                <button type="button" class="btn btn-primary btn-lg number-keyboard-panel-item" data-digit-key=3>3</button>
            </div>
            <div class="row text-center row-padding-after">
                <button type="button" class="btn btn-primary btn-lg" data-erase-key>
                    <span class="glyphicon glyphicon-erase"></span>
                </button>
                <button type="button" class="btn btn-primary btn-lg number-keyboard-panel-item" data-digit-key=0>0</button>
                <button type="button" class="btn btn-primary btn-lg">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
            </div>
